.body-section {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
}

.container-half {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-section {
  background-color: var(--theme-color);
  color: white;
  margin: 0 auto;
  padding-top: 30px;
  align-items: flex-start;
  flex: 0.7;
}

.title {
  margin-left: 40px;
}

.title h1 {
  font-size: 6rem;
  font-weight: 400;
  margin: 0;
}

.title h5 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0;
}

.title h6 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0;
}

.content {
  margin: 0 20px;
  padding: 20px;
}

.content p {
  font-size: 1.5rem;
}

.login-form {
  margin-top: 200px;
  min-width: 450px;
}

.login-form-section {
  text-align: center;
  margin: 0 15px;
}

.form-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-bottom: 1px solid #8e8e8e;
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--dark-grey-color);
  background-color: #f5f5f5;
}

.form-input:focus {
  outline: none;
}

.form-button {
  display: block;
  width: 30%;
  background-color: var(--grey-color);
  color: var(--dark-grey-color);
  padding: 14px 20px;
  margin: 35px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-button:hover {
  background-color: var(--theme-color);
  color: var(--grey-color);
}

.login-form-section h2 {
  text-align: center;
  font-size: 3rem;
}

.forgot-password-link {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
}

.request-account-link {
  position: absolute;
  top: 15px;
  right: 15px;
  font-weight: bold;
}

.footer-section {
  position: absolute;
  bottom: 15px;
}

/* login card styles */

.forgot-pass-link-sm {
  text-align: right;
}

.forgot-pass {
  color: var(--theme-color);
  font-size: 10pt;
  margin-top: 3px;
  font-weight: bold;
}
.login-card {
  display: none;
  background: #fbfbfb;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  height: 410px;
  margin: 4rem auto 4rem auto;
  width: 329px;
}
.card-content {
  padding: 12px 44px;
}
.card-title {
  letter-spacing: 4px;
  padding-bottom: 23px;
  padding-top: 13px;
  text-align: center;
  color: black;
}
.signup {
  color: var(--theme-color);
  font-size: 0.8rem;
  margin-top: 16px;
  text-align: center;
  font-weight: bold;
}
.submit-btn {
  background: var(--grey-color);
  border: none;
  border-radius: 21px;
  cursor: pointer;
  color: var(--dark-grey-color);
  height: 42.3px;
  margin: 0 auto;
  margin-top: 50px;
  transition: 0.25s;
  width: 153px;
}
.submit-btn:hover {
  background-color: var(--theme-color);
  box-shadow: 0px 1px 18px var(--theme-color);
  color: var(--grey-color);
}
.form {
  align-items: left;
  display: flex;
  flex-direction: column;
  color: black;
}

.form-content {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-bottom: 1px solid #8e8e8e;
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--dark-grey-color);
  background-color: #f5f5f5;
}

.form-content:focus {
  outline: none;
}

.footer-section-sm {
  display: none;
}

.form-password-container {
  position: relative;
}

.eye-icon {
  position: absolute;
  right: 1rem;
  top: 18px;
  color: var(--dark-grey-color);
}

/* responsive styles */

@media (max-width: 950px) {
  .title h1 {
    font-size: 4rem;
  }

  .title h5 {
    font-size: 2rem;
  }

  .title h6 {
    font-size: 2rem;
  }

  .login-form-section {
    margin: 0 15px;
  }
}

@media (max-width: 768px) {
  .container {
    display: grid;
  }

  .content p {
    font-size: 1.3rem;
  }

  .login-form {
    margin-top: 0px;
  }

  .login-form-section h2 {
    font-size: 2rem;
  }

  .request-account-link {
    position: relative;
    top: 0;
    right: 0;
  }

  .login-section {
    display: none;
  }

  .login-card {
    display: block;
    margin: 2rem auto 2rem auto;
  }

  .footer-section-sm {
    display: block;
    margin: auto;
  }

  .detail-section {
    padding-top: 20px;
  }

  .login-password-container-sm {
    position: relative;
  }

  .eye-icon {
    position: absolute;
  }
}

@media (max-width: 425px) {
  .login-card {
    margin: 0rem auto 1rem auto;
    height: 350px;
    width: 318px;
  }

  .card-title {
    padding-top: 5px;
    padding-bottom: 3px;
  }
}

@media (max-width: 375px) {
  .login-card {
    margin: 0rem auto 1rem auto;
  }

  .title h1 {
    font-size: 3rem;
  }

  .title h5 {
    font-size: 1.5rem;
  }

  .title h6 {
    font-size: 1.5rem;
  }

  .content p {
    font-size: 1rem;
  }

  .login-form-section {
    margin: 0 15px;
  }

  .login-card {
    width: 300px;
  }
}
